@import "variables.scss";

.card_container {
    background-color: rgba($color: #000000, $alpha: 0.8);
    border-radius: 10px;
    margin: 0;
    width: calc((100% - $row_gap * ($cards_per_row - 1)) / $cards_per_row);
    padding: 18px 24px;
    color: white;
    .span_with_stars {
        i {
            color: rgb(220, 220, 21);
        }
    }
    .span_with_image {
        img{
            height: 24px;
        }
    }
}