@import "variables.scss";

.card_container {
    background-color: rgba($color: #000000, $alpha: 0.8);
    border-radius: $card_border_radius;
    margin: 0;
    width: $card_width;
    padding: 0;
    color: white;
    height: $card_height;
    font-size: 13px;
    overflow: auto;
    object-fit: contain;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        border-radius: $card_border_radius;
        aspect-ratio: $card_width / $card_height;
    }
    .spans_container {
        padding: $spans_container_padding_y $spans_container_padding_x;
        span {
            display: block;
            padding-top: $span_padding;
            padding-bottom: $span_padding;
            &.span_with_stars {
                i {
                    color: rgb(220, 220, 21);
                }
            }
            &.span_with_image {
                img{
                    height: 24px;
                    width: auto;
                    border-radius: none;
                    aspect-ratio: auto;
                }
            }
        }
    }
    
}